@use '@/app/scss/useMain' as *;
@use 'styles/index';

.materialOverview__advantagesWrapper {
    display: grid;

    @include mq(tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(laptop) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.materialOverview__advantage > * > h3 {
    font-size: $font-size-300;
}