@use '@/app/scss/useMain' as *;

.sectionHeaderCard__imageWrapper::before {
    content: "";
    z-index: 2;
    @extend .absolute-stretch;
    background-color: black;
    opacity: 0.5;

    @include mq(laptop) {
        opacity: 0.2;
    }
}