@use '@/app/scss/useMain' as *;
@use './styles';

.portfolioItem__hover {
    @extend .absolute-stretch;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    display: none;

    justify-content: center;
    align-items: center;
}

.portfolioItem__image {
    object-fit: cover;
    width: 100%;
}

.portfolioItem__hint {
    width: 48px;
    height: 48px;

    @include mq(laptop) {
        width: 62px;
        height: 62px;
    }
}