@use '@/app/scss/useMain' as *;
@use './styles';

.advantage__content {
    border: 1px solid $color-neutral-050;
}

.advantage__order {
    font-size: 24px;
}

.advantage__paragraph {
    color: $color-soft-text-1;
}
