@use '@/app/scss/useMain' as *;

.moreLink__wrapper:is(:hover) {
    color: $color-accent-500;
    outline: 1px solid $color-neutral-080;
    background-color: transparent;

    & > * > * > span {
        transform: rotate(-90deg);
    }
}

.moreLink__wrapper > * > * > span {
    transition: 0.1s;
}