@use '@/app/scss/useMain' as *;

.portfolioImageInspect__container {
    animation: image-appear 0.2s linear;
}

@keyframes image-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}