@use '@/app/scss/useMain' as *;
@use './styles';

.catalogModal__wrapper,
.catalogModal__content {
    display: contents;
}

.catalogModal__back {
    @extend .absolute-stretch;
    opacity: 0.8;
    z-index: 5;
    background-color: black;
}

.catalogModal__containerBack {
    position: absolute;
    bottom: 0;
    top: $size-2;
    left: $size-4;
    right: $size-4;
}

.catalogModal__container {
    z-index: 6;
    $header-margin: calc($header-height + $size-2);

    margin-top: $header-margin;
    padding-top: $size-2;
    height: calc(100dvh - $header-margin - $size-4);
}