@use '@/app/scss/useMain' as *;
@use './styles';

.fullscreenModal__wrapper,
.fullscreenModal__content {
    display: contents;
}

.fullscreenModal__back {
    @extend .absolute-stretch;
    opacity: 0.8;
    z-index: 5;
    background-color: black;
}

.fullscreenModal__containerBack {
    position: absolute;
    bottom: 0;
    top: $size-2;
    left: $size-4;
    right: $size-4;
}

$header-margin: calc($header-height + $size-2);

.fullscreenModal__container {
    z-index: 6;

    margin-top: $header-margin;
    padding-top: $size-2;
    max-height: calc(100dvh - $header-margin - $size-4);
    width: 100%;
    overflow: hidden;
}

.fullscreenModal__catalogWrapper {
    max-height: calc(100dvh - $header-margin - $size-4 - $size-2);
    overflow: scroll;
    overflow-x: hidden;
}