@use "../abstracts/index" as *;

.#{$prefix} {
    &ff-body {
        font-family: $manrope-font;
    }

    &ff-heading {
        font-family: $heading-font-family;
    }

    &ff-section-order {
        font-family: $section-order-font-family;
    }

    &ff-section-name {
        font-family: $section-name-font-family;
    }
}