@use '@/app/scss/useMain' as *;

.sideHeader__containerAppear {
    animation: appear 0.3s ease-out;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateX(30dvw);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}