@use '@/app/scss/useMain' as *;
@use 'styles/index';

.aboutPage__overview {
    display: flex;
    flex-direction: column;
    gap: $size-9;

    @include mq(laptop) {
        flex-direction: row-reverse;
        gap: $column-spacing;
    }
}