@use '@/app/scss/useMain' as *;
@use 'styles/index';

.aboutPage__overview {
    display: flex;
    flex-direction: column;
    gap: $size-9;

    @include mq(laptop) {
        flex-direction: row-reverse;
        gap: $column-spacing;
    }
}

.aboutPage__image {
    aspect-ratio: 16 / 9;
    object-fit: cover;

    @include mq(laptop) {
        aspect-ratio: 1 / 1;
        height: 100%;
        width: 50%;
    }

    @include mq(desktop) {
        width: 40%;
    }
}