@use '@/app/scss/useMain' as *;
@use './styles';

.imageAreas__wrapper,
.imageAreas__content {
    display: contents;
}

.imageAreas__hoverAreas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 10;
}

.imageAreas__images {
    height: 100%;
    z-index: 9;
}

.imagesSlider__imageWrapper {
    z-index: 1;
    width: 100%;
    height: 100%;

    &[aria-selected='false'] {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: -1;
    }
}

.imagesSlider__image {
    object-fit: cover;
}

.imageBar__wrapper {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}

.imageBar__content {
    display: flex;
    gap: $size-2;
}

.imageBar__element {
    width: 100%;
    height: 4px;
    background-color: $color-neutral-000;

    &[aria-selected=false] {
        opacity: 0.3;
    }
}