@use '@/app/scss/useMain' as *;
@use './styles';

.footer__content {
    background-color: $color-back-1;
    border-radius: $border-radius-1;
}

.footer__gutter {
    @include mq(desktop) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.footer__upper {
    @include mq(laptop) {
        display: flex;
        justify-content: space-between;
    }
}

.footer__bottom {
    @include mq(laptop) {
        padding-top: $size-13;
        display: flex;
        align-items: end;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    @include mq(desktop) {
        padding-top: 0;
        flex-direction: column-reverse;
    }
}

.footer__logoIcon {
    color: $color-accent-500;

    & > *:first-child {
        opacity: 0.5;
    }
}

.footer__socialIcon {
    width: 24px;
    height: 24px;
}

.footer__legalInfo {
    color: $color-soft-text-1;

    @include mq(laptop) {
        text-align: end;
    }
}

.footer__paragraph {
    max-width: 500px;
}

.footer__agreements {
    @include mq(tablet) {
        display: flex;
    }

    @include mq(laptop) {
        display: grid;
    }

    @include mq(desktop) {
        padding-top: 0;
        text-align: right;
    }
}

.footer__navigationSection {
    flex-basis: 200px;

    @include mq(laptop) {
        text-align: right;
        min-width: 200px;
    }

    @include mq(desktop) {
        text-align: left;
    }
}

.footer__agreementItem > *,
.footer__listItem > * {
    color: $color-soft-text-2;
}