@use '@/app/scss/useMain' as *;

.pageLayout__drawer {
    pointer-events: none;

    & > * {
        pointer-events: auto;
    }
}

.pageLayout__activeModals {
    &:empty {
        pointer-events: none;
        visibility: hidden;
    }
}

.pageLayout__body {
    margin-top: calc($header-height + $size-2);
}

.catalog__hidden {

}