@use '@/app/scss/useMain' as *;

.pageLayout__activeModals {
    &:empty {
        pointer-events: none;
        visibility: hidden;
    }
}

.pageLayout__body {
    margin-top: calc($header-height + $size-2);
}