@use '@/app/scss/useMain' as *;
@use './styles';

.sectionHeaderCard__hint {
    z-index: 5;
    position: absolute;
    bottom: 12px;
    right: 12px;

    @include mq(laptop) {
        display: none;
    }
}

.sectionHeaderCard__circleBack {
    width: 24px;
    height: 24px;

    @include mq(tablet) {
        width: 32px;
        height: 32px;

        & > * {
            width: 12px;
            height: 12px;
        }
    }
}

.sectionHeaderCard__overlapLink {
    @extend .absolute-stretch;
    z-index: 10;

    @include mq(laptop) {
        display: none;
    }
}

.sectionHeaderCard__image {
    object-fit: cover;
    aspect-ratio: 16/9;
    max-height: 120px;
    width: 100%;

    @include mq(tablet) {
        max-height: 160px;
    }

    @include mq(laptop) {
        max-height: 386px;
        height: 100%;
    }
}

.sectionHeaderCard__content {
    @include mq(laptop) {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: span 5;
    }
}

.sectionHeaderCard__headingWrapper {
    position: absolute;
    z-index: 3;
    top: 12px;
    left: 12px;

    @include mq(laptop) {
        position: relative;
        top: 0;
        left: 0;
    }
}

.sectionHeaderCard__heading {
    font-size: 22px;

    @include mq(laptop) {
        position: relative;
        font-size: 40px;
        color: black;
    }
}

.sectionHeaderCard__paragraph,
.sectionHeaderCard__buttonWrapper {
    display: none;

    @include mq(laptop) {
        display: inline-block;
    }
}

.sectionHeaderCard__paragraph {
    color: $color-soft-text-1;
}

.sectionHeaderCard__button {
    @include mq(laptop) {
        pointer-events: all;
    }
}