@use '@/app/scss/useMain' as *;

.websiteHeader__navigationItem > *:focus-visible:not(:hover) {
    color: $color-neutral-400;
    text-decoration: underline;
    outline: none;
}

.websiteHeader__navigationItem > *:hover {
    color: $color-neutral-400;
    outline: none;
}