@use 'styles/index';

.loadingPage__content {
    display: grid;
    justify-items: center;
    padding-top: 100px;
    padding-left: 16px;
    padding-right: 16px;
}

.loadingPage__heading {
    font-size: 30px;

    @media (width >= 640px) {
        font-size: 40px;
    }
}