@use '@/app/scss/useMain' as *;
@use 'styles/index';

.header__wrapper {
    display: flex;
    position: fixed;
    top: 0;
    width: 100vw;
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
}

.header__back {
    @extend .absolute-stretch;
    backdrop-filter: blur(32px);
    background: rgba(255, 255, 255, 0.6);

    &[aria-selected='true'] {
        background: rgba(255, 255, 255, 1);
    }
}

.header__descriptor {
    line-height: $header-line-height;

    & > span {
        color: $color-soft-text-2;
    }
}

.header__logoIcon > * {
    color: $color-accent-500;

    &:first-child {
        opacity: 0.5;
    }
}

.header__hamburgerButton {
    @include mq(laptop) {
        display: none;
    }
}

.header__phoneNumber,
.header__navigationWrapper,
.header__logoText {
    display: none;

    @include mq(laptop) {
        display: inline;
    }
}

.header__descriptor {
    display: none;

    @include mq(large) {
        display: grid;
    }
}

.header__logoIcon {
    width: 44px;
    height: 44px;

    @include mq(laptop) {
        width: 28px;
        height: 28px;
    }
}