@use '@/app/scss/useMain' as *;
@use './styles';

.imageBar__wrapper {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
}

.imageBar__content {
    display: flex;
    gap: $size-2;
}

.imageBar__element {
    width: 100%;
    height: 4px;
    background-color: $color-neutral-000;

    &[aria-selected=false] {
        opacity: 0.3;
    }
}