@use '@/app/scss/useMain' as *;
@use './styles';

.moreLink__wrapper {
    display: inline-block;
    background-color: $color-back-1;
}

.moreLink__content {
    line-height: 100%;
}

.moreLink__arrow {
    margin-bottom: -3px;
}