@use '@/app/scss/useMain' as *;
@use './styles';

.adaptiveLink__content {
    gap: inherit;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    justify-items: inherit;
    align-content: inherit;
}