@use '@/app/scss/useMain' as *;
@use './styles';

.material__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border: 1px solid $color-neutral-050;
}

.material__imageWrapper {
    width: 92px;
    height: 92px;

    @include mq(tablet) {
        width: 128px;
        height: 128px;
    }
}

.material__paragraph {
    color: $color-soft-text-1;
}