@use '@/app/scss/useMain' as *;
@use 'styles/index';

.openCatalog__wrapper {
    &:not(:hover) {
        background-color: rgba(0, 0, 0, 0.03) !important;
    }
    &:hover {
        background-color: rgba(0, 0, 0, 0.07) !important;
    }

    &[aria-selected='true'] {
        background-color: transparent;
        outline: 1px solid $color-neutral-050;
        color: $color-accent-500;
    }
}