@use '@/app/scss/useMain' as *;
@use 'styles/index';

.callbackSection__content {
    display: grid;
    text-align: center;
    gap: $size-9;

    @include mq(laptop) {
        text-align: left;
    }

    @include mq(desktop) {
        display: flex;
        justify-content: space-between;
        gap: $column-spacing;
    }
}

.callbackSection__heading {
    @include mq(desktop) {
        display: table-caption;
    }
}

.callbackSection__paragraph {
    color: $color-soft-text-2;
}

.callbackSection__formWrapper {
    @include mq(desktop) {
        width: calc(1/3 * 100%);
    }
}

.callbackSection__mailInput {
    @include mq(laptop) {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    @include mq(desktop) {
        grid-column: auto;
    }
}