@use '@/app/scss/useMain' as *;


.footer__agreementItem > a > *,
.footer__listLink {
    &:hover {
        color: $color-soft-text-1;
    }

    &:focus-visible {
        outline: none;
        text-decoration: underline;
        color: $color-soft-text-1;
    }
}